<app-header></app-header>

<body>
    <div class="content-perfil">
        <div class="content-lado-esq">
            <div class="dados-perfil">
                <div class="image">
                    <img *ngIf="userPhoto.foto === '' || userPhoto === undefined " src="../../Assets/perfil-vazio.png"/>
                    <img *ngIf="userPhoto.foto !== '' && userPhoto !== undefined " [src]="'data:image/png;base64,' + userPhoto.foto"/>
                </div>
                <div class="dados-principais">
                    <h1>{{user.userName}}</h1>
                    <span>📍 {{user.addressStreet}} - SP</span>
                    <p>{{user.userDescription}}</p>
                </div>
                <div class="preferencias">
                    <h2>Preferências</h2>

                    <span>{{userPosition !== undefined ? userPosition : "Qualquer"}}</span>

                    <span (click)="editarPerfil()">Editar Perfil <fa-icon [icon]="['fas', 'pencil']"  ></fa-icon></span>
                </div>
            </div>
        </div>
        <div class="content-lado-dir">
            <div class="container-game-infos">
                <div class="back-image">
                    <img src="../../Assets/background-perfil.png"/>
                </div>
                <div class="information">
                    <div class="next-game">
                        <h1>Próximo Jogo</h1>

                        <div class="card" *ngIf="nextGame !== null">
                            <div class="img-area">
                                <img src="{{nextGame.urlPhoto}}"/>
                            </div>
                            <div class="content">
                                <h2>{{nextGame.openGameTitle}}</h2>
                                <div class="infos">
                                    <div class="gente-data">
                                        <span>👤{{nextGame.actualPlayers}}/{{nextGame.maxPlayers}}</span>
                                        <span><fa-icon [icon]="['fas', 'clock']"></fa-icon> {{nextGame.date}}</span>
                                    </div>
                                    <span>📍 {{nextGame.placeName}} - {{nextGame.realDistance}}km</span>
                                </div>
                            </div>
                        </div>

                        <div class="card-nogame" *ngIf="nextGame === null">
                            <h2>Nenhum jogo disponível...</h2>
                            <div class="marcarjogo-btn">
                                <span>Marque um agora!</span>
                                <button (click)="navigate('locations')" ><fa-icon [icon]="['fas', 'plus']"/></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="editarPerfilModal" *ngIf="editarPerfilModal">
            <h1>Altere as informações do perfil!</h1>

            <form [formGroup]="editProfile">
                <input formControlName="nome" type="text" placeholder="Nome" />
                <input formControlName="descricao" type="text" placeholder="Descrição" />
                <select formControlName="position">
                    <option *ngFor="let p of positions" value="{{p.positionId}}">{{p.positionName}}</option>
                </select>
                <div class="file-upload">
                    <input
                      type="file"
                      id="fileInput"
                      (change)="onFileSelected($event)"
                      hidden
                    />
                    <label for="fileInput" class="file-label">
                      {{ selectedFileName || 'Escolha um arquivo' }}
                    </label>
                  </div>
            </form>

            <div class="button-area">
                <button (click)="edit()" class="form-button-login">Finalizar</button>
                <span (click)="editarPerfil()">Retornar</span>
            </div>
        </div>
    </div>
</body>
