<app-header [isLanding]="false"></app-header>
<body>
    
    <div class="main-container">
        <div class="section">
            <h2>SUPORTE</h2>
            <div class="box suporte">
                <div class="info">
                    <p>(14) 98835-0951</p>
                    <p>sportsmatch&#64;gmail.com.br</p>
                </div>
            </div>
        </div>

        <div class="divider2"></div>

        <div class="section">
            <h2>CRIADORES</h2>
            <div class="box criadores">
                <div class="info">
                    <p>Ana Júlia Coelho Sávio</p>
                    <p>Daniel Augusto Ribeiro Martins</p>
                    <p>Felippe Benedito Moreira</p>
                    <p>Matheus Rodrigues Peres</p>
                    <p>Rafael Camilli Vieira</p>
                </div>
            </div>
        </div>
    </div>


</body>
<app-footer></app-footer>
