@font-face {
    font-family: 'Anton';
    src: url('../Assets/fonts/Anton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Antonio';
    src: url('../Assets/fonts/Antonio-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Anton', sans-serif;
  }