<app-header [isLanding]="true"></app-header>
<main>
    <div class="container-home">
        <div class="imagem-dir">
            <img src="../../Assets/imagem-home.PNG"/>
        </div>
        <div class="content-esq">
            <div class="title">
                <h1>CONECTE-SE COM JOGADORES E</h1>
                <div class="parte-baixo">
                    <button>Cadastre-se</button>
                    <h1>ORGANIZE PARTIDAS</h1>
                </div>
                
                <p class="text">
                    Conecte-se facilmente com outros jogadores, encontre parceiros de jogo e organize suas partidas de forma 
                    rápida e eficiente. Facilitamos o agendamento e o gerenciamento de jogos, garantindo que 
                    você esteja sempre pronto para jogar com quem compartilha sua paixão pelo esporte.
                </p> 
            </div>
        </div>
    </div>
    <div class="container-home-baixo">
        <div class="home-baixo-text">
            <h1>ESCOLHA O LOCAL MAIS PERTO DE VOCE</h1>
            <span class="text">Para jogar o que quiser e quando quiser!</span>
        </div>
        <img class="cesta" src="../../Assets/cesta-home.png"/>
        <!-- <img class="bilhete" src="../../Assets/fas-cartaz.PNG"/> -->
    </div>
</main>
<app-footer></app-footer>
